body {
  padding: 50px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 100%
}

@media (max-width: 979px) and (min-width: 768px) {
	body {
		font-size: 90%;
	}
	.suspectimg {
		height: 70px !important;
	}
}


a {
  color: #00B7FF;
}

.waitcursor {
	cursor: wait;
}

.text {
	font-size: 0.8em;
}

.logo {
	padding-bottom: 25px;
	width:90%;
}

.suspectimg {
	height: 90px;
}

ul {
	list-style: none;
	margin: 25px 0;
	padding: 0px;
	border-top: 1px dotted grey;
}

ul li {
	padding: 15px 5px;
	border-bottom: 1px dotted grey;
	overflow: hidden;
	cursor: pointer;
}

.motive {

}

.odd {
	float:left;
	padding-right: 15px;
}

.even {
	float:right;
	padding-left: 15px;
}

.centre { 
	float: none;
	margin: 0 auto;
	display: block !important;
}

.text-centre {
	text-align: center;
}

.dots {
	margin-top: 65px;
	position: absolute;
	left:50%;
	margin-left: -20px;
	width: 40px;
	margin-bottom:30px;
}

.arrest {
	font-weight: bold;
	color: red;
}

.content {
	position: relative;
}